#comment_header { border-bottom:1px solid #ccc; font-size:11px; position:relative; margin:0 0 0 -20px; width:624px; }
#comments_wrapper_noside #comment_header { border-bottom:1px solid #ccc; font-size:11px; position:relative; margin:0 0 0 -20px; width:944px; }
